.card {
  height: 202px;
  max-width: 150px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 10px;
  border: 2px solid rgb(0, 0, 0);

  background: linear-gradient(
    315deg,
    rgb(222, 171, 29),
    rgb(218, 209, 17),
    rgb(235, 61, 220)
  );

  & section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  & div {
    display: flex;
    justify-content: center;
    
    padding: 1px 0.5px;
    
    border: 1px solid rgb(0, 0, 0);

    & img {
      height: 100px;
      width: 100px;
    }
  }

  & .name-id-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  & p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: 200px;

    flex-direction: column-reverse;
    align-items: center;

    & div {
      height: 80%;
      width: 100%;

      padding: 0;
      
      border: none;

      & img {
        height: 100%;
        width: 100%;
      }
    }

    & p {
      font-size: 1.5rem;
    }
  }
}
