.card-general {
    max-width: 150px;

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 10px;
    border: 2px solid rgb(0, 0, 0);

    background: linear-gradient(315deg, rgb(222, 171, 29), rgb(218, 209, 17), rgb(235, 61, 220));
    & section {
        display: flex;
        flex-direction: column;
        gap: 13px;

        margin-top: 3px;
    }

    & div {
        display: flex;
        justify-content: center;
        padding: 1px 0.5px;
        border: 1px solid rgb(0, 0, 0);
    }

    & .name-id-container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    & p {
        font-size: 1rem;
    }

    & img {
        width: 100px;
        height: 100px;
    }
}