.modal {
    height: 500px;
    width: 625px;

    display: flex;
    justify-self: center;
    align-self: center;

    & .content-container {
        position: relative;
        height: 95%;
        width: 100%;

        display: flex;
        flex-direction: column;

        margin-top: 25px;


        & .close-button {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }
}