.modal {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;

  & .content-container {
    position: relative;
    height: 53%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }
}

.modal::backdrop {
  backdrop-filter: blur(10px);
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .modal {
    bottom: 5vh;
    width: 100vw;
    height: 40vh;
    overflow-y: auto;
    border: none;
    /* Remove default dialog border */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUp linear 1s 0s 1 normal forwards;

    & .content-container {
      width: 100vw;
      height: 38vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .close-button {
        top: 10px;
        right: 20px;
        height: 50px;
        width: 50px;

        border-radius: 35px;

        font-size: 4.5rem;
      }
    }
  }

  .modal::backdrop {
    backdrop-filter: none;
  }

  @keyframes slideUp {
    from {
      transform: translateY(600px);
    }

    to {
      transform: translateY(285px);
    }
  }
}