.header {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;

  background-color: var(--primary-color);

  & .logo-header {
    display: flex;
    align-items: center;

    & .logo-container {
      display: flex;
      align-items: center;
    }

    & .user-info {
      display: flex;
      gap: 8px;

      & .log-out-button {
        white-space: nowrap;
        padding: 0 1rem;
      }
    }
  }

  & p {
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

  & img {
    height: 60px;
    width: 60px;
  }

  & .right-section {
    display: flex;
    align-items: center;

    & .date {
      display: flex;
      align-items: center;

      padding-right: 10px;

      color: rgb(127, 255, 212);

      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    & img {
      height: 48px;
      width: 48px;
    }

    & .settings-icon {
      cursor: pointer;
    }

    & .row-container {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;

      & p {
        flex: 1;
        text-align: center;
        font-size: 3.6rem;
      }

      & .icons-container {
        height: 48%;

        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-start;
        gap: 72px;

        & button {
          position: relative;
          width: 16%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          background: none;
          font-size: inherit;
          cursor: pointer;

          &:active {
            transform: scale(0.9);
          }

          & span {
            position: absolute;
            bottom: -2rem;
            left: 50%;

            transform: translateX(-50%);
            text-align: center;
            white-space: nowrap;
            font-size: 1.2rem;
          }
        }

        & .large-font-size {
          font-size: 30px;
        }

        & .medium-font-size {
          font-size: 25px;
        }

        & .small-font-size {
          font-size: 20px;
        }

        & .selected {
          border: 4px solid rgb(0, 0, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    position: relative;
    padding: 50px 0;
    justify-content: center;
    background-color: transparent;

    & .logo-header {
      flex-direction: column;

      & p {
        font-size: 2.5rem;
      }

      & .logo-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 8px;
      }

      .user-info {
        display: flex;
        align-items: center;
        gap: 12px;

        & .log-out-button {
          height: 50%;
        }
      }
    }

    & .right-section {
      position: absolute;
      top: 4px;
      left: 4px;

      height: auto;
      width: 12%;
      max-width: 76px;

      display: flex;
      flex-direction: column;
      gap: 4px;

      border-radius: 60px;
      border: 1px solid rgb(0, 0, 0);

      background-color: rgb(255, 255, 255);

      & img {
        height: 44px;
        width: 44px;

        border: 1px solid rgb(0, 0, 0);
        border-radius: 22px;
        background: none;
      }

      &[user-not-logged-in-small-screen="true"] {
        display: none;
      }

      &[settings-open="true"] {
        border-radius: 60px;
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);

        & img {
          height: 44px;
          width: 44px;

          border: 1px solid rgb(0, 0, 0);
          border-radius: 60px;
          border-top: none;
          border-bottom-left-radius: 60px;
          border-bottom-right-radius: 60px;

          cursor: pointer;
        }
      }

      & .settings-list {
        position: relative;
        top: 0;

        display: flex;
        flex-direction: column;

        border-radius: 60px;
        background-color: rgb(255, 255, 255);

        & button {
          height: 44px;
          width: 44px;

          border: none;
          background: none;
          z-index: 1;

          & img {
            height: auto;
            width: 76%;

            padding: 4px;
          }
        }

        & .font-settings {
          height: 48px;

          border: 1px solid rgb(0, 0, 0);
          border-radius: 60px;
        }

        & .large {
          font-size: 19px;
        }

        & .medium {
          font-size: 16px;
        }

        & .small {
          font-size: 13px;
        }
      }

      & .font-sizes-list {
        position: absolute;
        bottom: 0;
        left: 0;

        height: 32%;
        width: 300%;

        display: flex;
        justify-content: flex-end;

        border: 1px solid rgb(0, 0, 0);
        border-radius: 60px;

        background-color: rgb(255, 255, 255);

        & .font-size {
          height: auto;
          width: 32%;

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 5px;
          border: none;
          border-radius: 20px;

          background: none;
          background-color: rgb(255, 255, 255);
          cursor: pointer;

          & img {
            height: auto;
            width: 88%;

            padding: 4px;
          }
        }

        & .large {
          font-size: 19px;
        }

        & .medium {
          font-size: 16px;
        }

        & .small {
          font-size: 13px;
        }
      }
    }
  }
}
