.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(175, 51, 175);

  & .logo-header {
    display: flex;
    align-items: center;
  }

  & p {
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

  & img {
    width: 60px;
    height: 60px;
  }

  & .right-section {
    display: flex;
    align-items: center;

    & .date {
      display: flex;
      align-items: center;

      padding-right: 10px;

      color: rgb(127, 255, 212);

      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    & img {
      height: 52px;
      width: 52px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    position: relative;
    height: 170px;
    justify-content: center;
    background-color: transparent;

    & p {
      font-size: 3.5rem;
    }

    & .logo-header {
      flex-direction: row-reverse;
      padding-top: 60px;
    }

    & .right-section {
      position: absolute;
      top: 4px;
      left: 4px;

      display: block;

      background-color: rgb(255, 255, 255);
      border-radius: 60px;
      border: 1px solid rgb(0, 0, 0);

      & img {
        height: 120px;
        width: 120px;
        background: none;
      }

      &[settings-open] {
        background-color: rgb(255, 255, 255);
        border-radius: 60px;
        border: 1px solid rgb(0, 0, 0);
        & img {
          height: 120px;
          width: 120px;
          border: 1px solid rgb(0, 0, 0);
          border-radius: 60px;
          border-top: none; /* Flat top to align with right-section */
          border-bottom-left-radius: 60px; /* Rounded bottom corners */
          border-bottom-right-radius: 60px;
          cursor: pointer; /* Ensures the settings icon is clickable */
        }
      }

      & .settings-list {
        position: relative;
        top: 0;

        display: flex;
        flex-direction: column;

        background-color: white;
        border-radius: 60px; /* Slightly rounded for consistency */

        & button {
          background: none;
          border: none;

          & img {
            height: 104px;
            width: 104px;
            padding: 4px;
            border-radius: 52px;
            border: 1px solid rgb(0, 0, 0);
          }
        }
      }

      & .font-sizes-list {
        position: absolute;
        bottom: 0;
        left: 100px;
        display: flex;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 60px; /* Slightly rounded for consistency */
        background-color: white;
        & .font-size {
          display: flex;
          align-items: center;
          padding: 5px;
          background: none;
          border: none;
          cursor: pointer;
          background-color: white;
          background: none;
          & img {
            height: 104px;
            width: 104px;
            padding: 4px;
            border-radius: 52px;
            border: 1px solid rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
