.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: rgb(175, 51, 175);

  & p{
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  }

  & img {
    width: 60px;
    height: 60px;
  }
  
}

.logo-header {
  display: flex;
  align-items: center;
}

.date {
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: aquamarine;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  .header {
    justify-content: center;
    height: 170px;
    background-color: transparent;

    & p{
        font-size: 3.5rem;
    }
  }
  .logo-header {
    flex-direction: row-reverse;
    padding-top: 60px;
  }
}
