.select {
  height: 109px;
  display: flex;
  flex-direction: column;

  & .button {
  }

  & .options {
    height: 90px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: white;
    z-index: 9;
    align-items: center;

    & .option {
      min-height: 30px;
    }
  }
}
