.pokedex-content {
  height: 92%;
  width: inherit;

  display: flex;
  flex-direction: column;
  gap: 32px;

  & .control-bar {
    height: 36px;

    display: flex;
    justify-content: space-around;

    & input {
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);

      background-color: transparent;
      font-size: 1rem;
    }

    & input::placeholder {
      color: rgb(255, 69, 0);
      font-size: 1.6rem;
      font-weight: 600;
    }

    & input:focus {
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);
      outline: none;
    }

    & .filter-and-sort-container {
      width: 32%;

      display: flex;
      justify-content: space-evenly;
    }
  }

  & .digimons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 28px;

    padding-inline: 100px;

    overflow-y: auto;

    &[data-is-centered] {
      justify-content: center;
    }
  }
}

.digimon-profile {
  height: 32%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 2.5rem;
}

.images {
  & img {
    height: 204px;
    width: 204px;
  }
}

.digimon-details {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  .pokedex-content {
    position: relative;

    height: 100%;
    width: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;

    & .control-bar {
      height: 32px;
      width: 80%;

      gap: 8px;

      & input {
        width: 12%;

        flex-grow: 1;
      }

      & input::placeholder {
        font-size: 0.8rem;
      }

      & input:focus {
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        outline: none;
        font-size: 1rem;
      }

      & .filter-and-sort-container {
        height: 100%;
        width: 76%;

        flex-shrink: 0;
      }
    }

    & .digimons-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      padding-inline: 10px;
    }
  }

  & .slide-up-card {
    height: 68%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .digimon-details {
      gap: 80px;

      font-size: clamp(10px, 4vw, 50px);
    }

    & .slide-up-image {
      height: 68%;

      aspect-ratio: 9 /12;
    }
  }

  & .digimon-profile {
    font-size: clamp(10px, 5.6vw, 68px);
  }
}
