.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  height: 50px;
}

.inputs div {
  display: flex;
  flex-direction: column;
}

.error-message {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 200px;
  margin-top: 4px;
  /* Space below input */
  margin-bottom: 10px;
  /* Space above next element */
  width: 100%;
  font-size: 25px;
  color: red;
}

.login-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 470px;
  height: 100px;
}

.guest-button:active,
.login-button:active {
  transform: scale(0.9);
}

.login-button {
  width: 150px;
  height: 85px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #ffff;
  font-size: 45px;
  cursor: pointer;
}

.guest-button {
  width: 300px;
  height: 85px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #ffff;
  font-size: 45px;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {

  .login-header{
    display: none;
  }

  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  .error-message {
    position: absolute;
    left: 0;
    top: 105px;
  }

  .login-buttons-container {
    flex-direction: column;
    gap: 21px;
    height: auto;
  }

  .login-button {
    width: 55%;
  }

  .guest-button {
    width: 100%;
    font-size: 42px;
  }
}