.pokedex-content-container {
  height: 96%;
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 32px;

  & .control-bar-container {
    height: 36px;
    display: flex;
    justify-content: center;
    gap: 61%;

    & input {
      padding-block: 15px 2px;
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);

      background-color: transparent;
      font-size: 0.75rem;
    }

    & input::placeholder {
      color: rgb(255, 69, 0);
      font-size: 2rem;
      font-weight: 600;
    }

    & input:focus {
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);
      outline: none;
    }

    & .filter-and-sort {
      height: 100%;
      width: 20%;

      display: flex;
      justify-content: flex-end;
      gap: 10%;

      margin-right: 15px;

      & .sort-container,
      & .filter-container {
        position: relative;

        & .sort-button,
        & .filter-button {
          position: relative;
          height: 31px;
          width: 175px;

          border: 2px solid rgb(0, 0, 0);
          border-radius: 40px;

          font-size: 1.5rem;
          cursor: pointer;
          z-index: 1;

          cursor: pointer;
        }

        & .sort-options,
        & .filter-options {
          position: absolute;
          top: 13px;

          height: 183px;
          width: 103px;

          padding: 7px 35px 0 35px;
          border: 1px solid rgb(0, 0, 0);
          border-radius: 12px;

          overflow: hidden;
          overflow-y: auto;
          background-color: rgb(255, 255, 255);
          z-index: 0;

          & .option {
            height: 60px;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            border: none;
            border-bottom: 1px solid rgb(0, 0, 0);
            background-color: transparent;
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  & .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    overflow-y: auto;
  }
}

.id-name-control-pop-up-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 2.25rem;

  & div {
    display: flex;
    gap: 50px;
    & label {
      & input {
        border: none;
        outline: none;

        font-size: 2.5rem;
      }
    }
  }
}

.images-container {
  & img {
    height: 205px;
    width: 205px;
  }
}

.pokemon-data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  .pokedex-content-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .control-bar-container {
      height: 50px;
      width: 91vw;
      gap: 5px;

      & input {
        width: 110px;
      }

      & input::placeholder {
        font-size: 1.6rem;
      }

      & .filter-and-sort {
        height: 100%;
        width: 67%;
        gap: 10px;

        & .sort-container,
        & .filter-container {
          height: 100%;
          width: 30%;

          & .sort-button,
          & .filter-button {
            height: 100%;
            width: 100%;

            font-size: 1.15rem;
          }

          & .sort-options,
          & .filter-options {
            top: 15px;

            height: 183px;
            width: 99%;

            padding: 7px 0 0 0;

            & .option {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    & .cards-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.id-name-control-pop-up-container {
  font-size: clamp(10px, 2.65vw, 50px);
}

.pokemon-data-and-shiny-checkbox-container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & .pokemon-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    font-size: clamp(10px, 2.65vw, 50px);
  }

  & .pokemon-slide-up-image {
    height: 80%;
    width: 32%;
  }
}
