.pokedex-page-container {
  height: 96%;
  width: 93%;

  display: flex;
  flex-direction: column;
  gap: 40px;

  & .custom-cards-container {
    display: flex;

    & input {
      padding-block: 15px 2px;
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);
      background-color: transparent;
      font-size: 0.75rem;
    }

    & input::placeholder {
      color: rgb(255, 69, 0);
      font-size: 2rem;
      font-weight: 600;
    }

    & input:focus {
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);
      outline: none;
    }
  }

  & .cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
}
