* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../images/pokemon-background-image.jpg");
  background-size: cover;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

@media screen and (max-width: 1200px){
  main{
    height: calc(100vh - 170px);
  }
}