* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../photos/pokemon-background-image.jpg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: rgb(175, 51, 175);
}

img {
  width: 60px;
  height: 60px;
}

p {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
}

#date {
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: aquamarine;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
  width: 670px;
  height: 65%;
  border-radius: 10px;
  background-color: orange;
  box-shadow: 1px 1px 20px 1px orange, 1px 1px 20px 1px orange;
}

h1 {
  margin-bottom: 30px;
  font-size: 70px;
}

input {
  padding-block: 15px;
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
  font-size: 33px;
}

input::placeholder {
  color: orangered;
  font-size: 40px;
  font-weight: 600;
}

input:focus {
  border: none;
  border-bottom: 2px solid black;
  /* Ensures underline remains */
  outline: none;
}

#error-message {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 230px;
  margin-top: 4px; /* Space below input */
  margin-bottom: 10px; /* Space above next element */
  width: 100%;
}

.login-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 470px;
  height: 100px;
}

button {
  height: 85px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #ffff;
  font-size: 45px;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.login-button {
  width: 150px;
}

.guest-button {
  width: 300px;
}

@media screen and (max-width: 1200px) {
  header {
    justify-content: center;
    height: 170px;
    background-color: transparent;
  }

  .logo-header {
    flex-direction: row-reverse;
    padding-top: 30px;
  }

  #header-text {
    font-size: 50px;
  }

  h1,
  #date {
    display: none;
  }

  main {
    height: calc(100vh - 170px);
  }

  form {
    justify-content: space-between;
    gap: 70px;
    width: 100%;
    background: none;
    box-shadow: none;
  }

  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }

  input {
    font-size: 25px;
  }

  #error-message {
    position: absolute;
    left: 0;
    top: 75px;
  }

  .login-buttons-container {
    flex-direction: column;
    gap: 21px;
    height: auto;
  }

  button {
    height: 70px;
    font-size: 45px;
  }

  .login-button {
    width: 55%;
  }

  .guest-button {
    width: 100%;
    font-size: 42px;
  }
}
